In [1]:
import pandas as pd

In [2]:
# Create an empty dataframe to hold the results
summary_df = pd.DataFrame()

df = pd.read_csv('cleaned_data.csv')

#take random sample of dataframe to reduce size due to memory issues
df = df.sample(n=2000000, random_state=42)

# Iterate over each column in the original dataframe
for column in df.columns:
    # Count the number of occurrences of each unique value in the column
    value_counts = df[column].value_counts()
    # Convert the Series to a DataFrame and transpose it so that the unique
    # values become the columns
    value_counts_df = value_counts.to_frame().T
    # Append the result to the summary dataframe
    summary_df = summary_df.append(value_counts_df)

# Display the first few rows of the summary dataframe
summary_df.head()

summary_df.to_csv('cleaned_data_counts.csv')

C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)
C:\Users\ericm\AppData\Local\Temp\ipykernel_14644\3839212316.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary_df = summary_df.append(value_counts_df)

In [3]:
df = pd.read_csv('cleaned_data_counts.csv')
df.head()

,Unnamed: 0,30-34,25-29,35-39,40-44,55-64,45-49,21-24,50-54,18-20,...,Mississippi,Idaho,Washington,Wyoming,District of Columbia,New Hampshire,Puerto Rico,Montana,North Dakota,New Mexico
0,AGE,345210.0,343681.0,285351.0,198791.0,181983.0,175169.0,164256.0,163036.0,58379.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GENDER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RACE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MARITAL_STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EDUCATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN